@use "../tools" as t;

.button {
  display: inline-block;
  position: relative;
  padding: 15px 48px;
  background-color: t.$color3;
  color: t.$color4;
  font-weight: 600;
  font-size: 15px;
  line-height: 1;
  font-family: t.$font2;
  letter-spacing: 0.01em;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  & span {
    z-index: 2;
    position: relative;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: t.$color4;
    content: "";
    transition: all 0.3s;
  }

  @media (hover: hover) {
    &:hover {
      color: t.$color3;
    }
    &:hover::after {
      width: 100%;
    }
  }

  &:active::after {
    width: 100%;
  }

  &:focus-visible {
    outline: 1px solid t.$color4;
    outline-offset: 4px;
  }
}
