@use "../tools" as t;

.success-modal {
  @include t.fluid-prop("width", 290, 636, 320, 768);
  padding: 30px 15px 50px 15px;
  border-radius: 6px;
  background-color: t.$color1;

  &__close-btn {
    position: absolute;
    top: -80px;
    right: 10px;
    padding: 15px;
    border-radius: 8px;
    background-color: t.$color1;
    font-weight: 600;
    font-size: 35px;
    line-height: 1;
    transition:
      background-color 0.3s ease,
      transform 0.3s ease;

    @media (hover: hover) {
      &:hover {
        background-color: t.$color2;
      }
    }

    &:active {
      transform: scale(0.95);
      background-color: t.$color2;
    }

    &:focus-visible {
      outline: 2px solid t.$color3;
      outline-offset: 5px;
    }
  }

  &__icon {
    font-weight: 600;
    font-size: 100px;
    line-height: 1;
    text-align: center;

    svg {
      width: 65px;
      height: 150px;
      fill: t.$color3;
    }
  }

  &__title {
    font-size: 35px;
    font-family: t.$font2;
    text-align: center;
    margin-bottom: 30px;
  }

  &__text {
    max-width: 400px;
    margin: 0 auto;
    font-size: 18px;
    font-family: t.$font3;

    @media (max-width: 480px) {
      text-align: center;
    }
  }
}
