@use "../tools" as t;

:root {
  @include t.fluid-prop("--clip-offset", 20, 60, 390, 1440);
}

body {
  background-color: t.$color1;
  color: t.$color4;
  font-weight: 400;
  font-size: 16px;
  font-family: t.$font3;
  overflow-x: hidden;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
    border-image: url();
}



