<div
  class="modal"
  id="modal-success"
  aria-hidden="true"
>
  <div class="modal__content success-modal">
    <button
      class="success-modal__close-btn"
      type="button"
      aria-label="Close modal"
    >
      ✕
    </button>

    <div class="success-modal__icon">
        <svg>
        <use href="#icons-lightning"></use>
      </svg>
    </div>

    <h2 class="success-modal__title">Let's do this!</h2>

    <p class="success-modal__text">
     Your request is in! I’ll get back to you shortly so we can start planning your fitness journey.
    </p>
  </div>
</div>
